.main {
    padding: 36px
}

.meme--form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40px);
    grid-gap: 15px;
}

.meme--form-input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border-style: solid;
    border-color: #D5D4D8;
    border-inline-start-width: 1px;
    border-inline-end-width: 1px;
    border-block-start-width: 1px;
    border-block-end-width: 1px;
    text-indent: 5px;
}

.meme--form-button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    /* border-style: solid;
    border-color: #D5D4D8;
    border-inline-start-width: 1px;
    border-inline-end-width: 1px;
    border-block-start-width: 1px;
    border-block-end-width: 1px; */
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme--image {
    inline-size: 477px;
    position: relative;
    margin-block-start: 40px;
    text-align: center;
    overflow: hidden;
}

.meme--image img {
    max-inline-size: 100%;
    border-radius: 5px;
}

.meme--text {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    font-family: Impact, 'Anton', sans-serif;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 20px;
}