.main {
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border: 1px solid #F5F5F5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article {
    padding-bottom: 15px;
    border-bottom: 1px solid #F5F5F5;
}

.article:last-child {
    border-bottom: none;
    padding-bottom: 0;
}